

<div class="container">
    <div class="timerWrapper">
        <header>
            <h1>Timer</h1>
        </header>
        <main>
            <div class="leftControll">
                <button *ngIf="isPlay; else btnPause" (click)="stop()">
                    <i class="material-icons">pause</i>
                </button>
                <ng-template #btnPause>
                    <button (click)="start()">
                        <i class="material-icons">play_arrow</i>
                    </button>
                </ng-template>
            </div>
            <div class="indicator">{{time | minuteSeconds}}</div>
            <div class="rightControll">
                <button *ngIf="isPlay; else btnRefresh" (click)="add()">
                    <i class="material-icons">plus_one</i>
                </button>
                <ng-template #btnRefresh>
                    <button (click)="reset()">
                        <i class="material-icons">refresh</i>
                    </button>
                </ng-template>
            </div>
        </main>
        <footer class="signature">@Dmitry Sekhno <span class="cursor">_</span></footer>
    </div>
</div>